* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

p {
    margin: 0px;
}

body {
    font-family: 'Rubik', sans-serif;
    background: #1d1d1d;
    color: #fff;
    margin: 0px;
}

:root {
    --body: #e2f4ff;
    --primary: #cc5757;
}

a {
    text-decoration: none;
    color: inherit;
}

.JCHeader {
    background: url(https://i.imgur.com/yzhWS32.png);
    height: 375px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.JC-NavBar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    position: relative;
}

.JC-navLink {
    color: #fff;
    margin: 0px 25px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s ease;
}

.JC-navLink:hover {
    color: #1d1d1d;
    transition: 0.3s ease;
	text-decoration: none !important;
}

.JC-navStore {
    background: #fff;
    padding: 10px 45px;
    color: #c94f64;
    border-radius: 80px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06) !important;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px 15px;
    border: 5px solid #fff;
    transition: 0.3s ease;
}

.JC-navStore:hover {
    background: transparent;
	text-decoration: none !important;
    color: #fff;
    border: 5px solid #fff;
    transition: 0.3s ease;
}

.JC-Branding {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    position: relative;
	width: 1100px;
	margin: 0 auto;
    top: 0;
    transition: 0.3s ease;
}

.JCLogo {
    width: 400px;
}

.JC-BrandBar {
    background: #2b2b2b;
    width: 1100px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px 30px;
    height: 80px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06) !important;
}

.JC-BrandIcon {
    width: 40px;
}

.JC-brandPost {
    position: absolute;
    left: 50px;
}

.JC-BrandRight {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    flex-direction: row-reverse;
    position: relative;
    right: 0;
    transition: 0.3s ease;
}

.JC-BrandRight:hover {
    position: relative;
    right: 5px;
	text-decoration: none !important;
}

.JC-BrandLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    position: relative;
	text-align: center;
	flex-direction: column;
    left: 0px;
	top: 10px;
}

.JC-BrandLeft:hover {
	text-decoration: none !important;
}

.JC-BrandLeft .JC-BrandIcon {
    margin-right: 10px;
}

.JC-BrandRight .JC-BrandIcon {
    margin-left: 10px;
}

.JC-BrandSmall {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.6;
	margin-bottom: 10px;
	transition: 0.3s ease;
}
		
.JC-BrandSmall-open {
	display: none;
	position: absolute;
	font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.6;
	margin-bottom: 10px;
	transition: 0.3s ease;
	margin-top: 50px;
}
		
.JC-BrandBig:hover + .JC-BrandSmall-open {
	display: block;
}

.JC-BrandBig {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
	transition: 0.3s ease;
}

.JC-brandLink {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.JC-brandLink2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.JCDropBtn {
    position: absolute;
    margin-left: 900px;
}

.JC-DropDown {
    position: relative;
    display: inline-block;
}

.JCDropBtn i {
    position: relative;
    top: 5px;
    transform: rotate(180deg);
}

.JCDropBtn:hover > #JCDownTurn {
    color: #1d1d1d !important;
    transition: 0.3s ease;
}

.turned {
    transform: rotate(00deg) !important;
    top: -2px !important;
    transition: 0.3s ease;
}
  
.JC-DropDown-content {
    display: none;
    position: absolute;
    background-color: #2b2b2b;
    min-width: 200px;
    left: 25px;
    border-radius: 6px;
    top: 15px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.JC-DropDown-content a {
    color: #fff;
    padding: 15px;
    text-decoration: none !important;
    display: block;
}
  
.JC-DropDown a:hover {
    background-color: #1d1d1d;
	text-decoration: none !important;
}
  
.show {
    display: block;
}

.JC-navMenu {
    background: #fff;
    padding: 15px 50px;
    color: #c94f64;
    border-radius: 80px;
    font-size: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06) !important;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px 15px;
    transition: 0.3s ease;
    display: none;
}

.JC-navMenu:hover {
    background: orange;
    color: #fff;
    transition: 0.3s ease;
	text-decoration: none !important;
}

.JC-MobileBody {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(43 43 43);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.JC-MobileBody-content {
    position: relative;
    top: 150px;
    width: 100%;
    margin-top: 30px;
}

.JCMobClose {
    position: absolute;
    float: right;
    right: 30px;
    font-size: 44px;
}

.JC-MobileBody a {
    display: block;
    color: #fff;
    margin: 50px 25px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
}
  
.JC-MobileBody a:hover, .JC-MobileBody a:focus {
    color: #f1f1f1;
	text-decoration: none !important;
}

.JC-navMob {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}
  
.JC-MobileBody .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.JC-BrandBtn {
    background: #262626;
    width: 200px;
	box-shadow: 0 6px 0px rgba(0,0,0,0.15) !important;
    padding: 11px 0px;
    border-radius: 100px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
	background: #ffbc00;
	border: 4px solid #ffbc00;
    transition: 0.3s ease;
}

.JC-BrandBtn:hover {
	transition: 0.3s ease;
	background: inherit;
}

.p-navgroup-link.is-menuOpen {
	border-radius: 8px !important;
}

.hoverNone:hover {
	text-decoration: inherit;
	color: inherit;
}

/* JC FOOTER */

.JC-FooterContainer {
    background: #212121;
    padding: 0px 50px;
	margin-top: 50px;
}

.JC-FooterBody {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.JC-FooterBox {
    width: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 50px 50px;
}

.JC-FooterAligned {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.JC-FooterDesc {
    line-height: 20px;
    opacity: 0.6;
    font-size: 15px;
}

.JC-FooterTitle {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.JC-FooterLink {
    height: 50px;
    width: 100%;
    display: flex;
    margin: 5px 0px;
    padding: 0px 15px;
    align-items: center;
    border-radius: 5px;
    font-weight: 600;
    background: rgba(255,255,255,0.025);
    transition: 0.3s ease;
}

.JC-FooterLink:hover {
    background: #1d1d1d;
    transition: 0.3s ease;
    text-decoration: none;
}

.JC-FooterStore {
    background: #cc5757;
    padding: 11px;
    border-radius: 4px;
    margin-top: 15px;
	width: 50%;
    text-transform: uppercase;
    font-weight: 600;
	border: 4px solid #cc5757; 
    letter-spacing: 1px;
    color: #fff;
	text-align: center;
	transition: 0.3s ease;
}

.JC-FooterStore:hover {
    text-decoration: none;
	background: inherit;
	color: #fff;
	transition: 0.3s ease;
}

.JC-FooterRows {
    position: relative;
    top: 15px;

    display: flex;
    align-items: center;
}

.JC-FooterSocial {
    font-size: 25px;
    background: rgba(255,255,255,0.025);
    padding: 10px 15px;
    margin-right: 10px;
    text-align: center;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.JC-FooterSocial:hover {
    background: #1d1d1d;
    transition: 0.3s ease;
    text-decoration: none;
}

.JC-FooterBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.JC-FooterSpace {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    padding: 25px 0px;
}

.JC-FooterSpace-left p {
    opacity: 0.6;
    font-weight: 600;
}

.JC-FooterSpace-right a {
    margin: 0px 15px;
    font-size: 14px;
    opacity: 0.6;
}

/* JC FOOTER */





@media only screen and (max-width: 1250px) {
    .JC-FooterSpace {
        width: 90%;
    }
}


@media only screen and (max-width: 860px) {
    .JC-FooterSpace {
        justify-content: center;
        flex-direction: column;
    }

    .JC-FooterSpace-right {
        margin-top: 15px;
        flex-direction: column;
        display: flex;
        text-align: center;
    }

    .JC-FooterSpace-right a {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .JC-FooterBox {
        width: 100%;
    }

    .JC-FooterContainer {
        padding: 0px;
    }
}



.JC-UserBar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    color: #fff;
    background: #212121;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06) !important;
	border-radius: 6px;

	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
	margin-bottom: 20px;
}

.JC-DiscordSidebar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    color: #fff;
    background: #212121;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06) !important;
	border-radius: 6px;

	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
	margin-bottom: 20px;
}

.JC-brandPost:hover {
	text-decoration: inherit;
	color: inherit;
}

.JC-DiscordSide-logo {
    width: 45px;
	margin-right: 15px;
}

.JC-DiscordSidebar-head {
    width: 90%;
    display: flex;
    align-items: center;
}

.JC-DiscordSide-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.JC-DiscordSide-icon {
    font-size: 30px;
	position: relative;
	left: 0px;
	transition: 0.3s ease;
}

.JC-DiscordLink:hover {
	text-decoration: inherit;
	transition: 0.3s ease;
}

.JC-DiscordLink:hover .JC-DiscordSide-icon {
	position: relative;
	left: -10px;
	transition: 0.3s ease;
}

@media only screen and (max-width: 1250px) {
	.JC-navLink {
        display: none;
    }

    .JC-navStore {
        display: none;
    }

    .JC-navMenu {
        display: block;
    }
}

@media only screen and (max-width: 1150px) {

    .JC-BrandBar {
        width: 90%;
    }
	
	.JC-Branding {
		width: 90%;
	}
}

@media only screen and (max-width: 960px) {
    .JC-NavBar {
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .JC-brandPost {
        position: relative;
        left: 0px;
    }

    .JC-navMenu {
        position: relative;
    }

	.JC-Branding {
		flex-direction: column;
	}
	
	.JCHeader {
		height: 420px;
	}
}

@media only screen and (max-width: 600px) {
    .JC-BrandRight {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .JCLogo {
        width: 100%;
    }

    .JC-Branding {
        width: 60%;
        margin: 0 auto;
    }
}

@media only screen and (max-height: 450px) {
    .JC-MobileBody a {
        font-size: 20px;
    }

    .JC-MobileBody .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}